* {
    box-sizing: border-box;
}

body {
    background-image: url("./clock.jpeg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigger-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-align {
    text-align: center;
}

.countdown-align span {
    font-size: 1.4rem;
}
